.navbar{
    display: flex;
    justify-content: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
width: 50px; 
height: auto; 
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none; /* Ensures no underlines are added to the link */
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin-left: 40px; 
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-login-cart {
    position: relative; /* Ensure the parent is positioned relatively */
}

.nav-cart-count{
    position: absolute; /* Use absolute positioning */
    top: 10px; /* Position at the top-right of the .nav-login-cart */
    right: 0;
    transform: translate(50%, -50%); /* Adjust to exactly align where you want */
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
